.fbContent{
    display: flex;
    align-items: center;
    padding: 9px 41px;
    cursor: pointer;
    gap: 9px;
}

.activeCheckbox, .defaultCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 16px;
    max-height: 16px;
    min-height: 16px;
    min-width: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;
}

.activeCheckbox{
    background: #FFEEDD;
    border: 1px solid #FF7D00;
}

.fbSpan{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 9px;
}

.fbName{
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.fbType{
    font-weight: 400;
    font-size: 14px;
    color: #A8A8A8;
}

.fbFunction{
    display: flex;
    gap: 16px;
}

.fbShare, .fbDestination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 100px;
    box-sizing: border-box;
}


.destinationActiveDiv{
    transition: all 0.3s linear;

    border: 1px solid #FF7D00;
}

.destinationActive, .destinationDefault{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    width: 110px;
    height: 30px;
    padding-left: 12px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    background: #FF7D00;
    border-radius: 100px;
    z-index: 1;
    gap: 6px;
    transition: all 0.25s ease;
}

.destinationDefault{
    width: 0px;
    background: #ffffff;
    padding-left:0;
    gap:0px;
}

.destinationDefault > span{
    width: 0;
    opacity: 0;
}


.destinationDiv ,.favoriteDiv, .destinationActiveDiv, .favoriteActiveDiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
    /*transition: all 0.3s linear;*/
}

.fbFunction > .destinationDiv{
    /*border: none;*/
}

.right > .destinationDiv,
.right > .destinationActiveDiv{
    border: none;
}
