.fFoot{
    position: absolute;
    bottom: 50px;
    left: 174px;
    width: 100%;
}

.ffBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 37px;
    background: #FAFAFA;
    border: 1px solid #F21724;
    border-radius: 23.5px;
    font-weight: 600;
    font-size: 14px;
    color: #F21724;
    box-sizing: border-box;
    cursor: pointer;
}

.ffBox:active{
    background: #ffe0e2;
}