.aaa {
    background: #D9D9D9;
    border-radius: 50px;
    width: 188px;
    height: 56px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bbb {
    width: 20px;
    height: 20px;
    background-color: #B1B1B1;
    margin-right: 8px;
}
