.content {
    height: 94px;
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.content:not(:last-child) {
    border-bottom: 1px solid #E7E7E7;
}

.title {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;

    color: #303030;
}

.date {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;

    color: #969696;
}
