.content {
 width: 383px;
 height: 204px;
 background: #FFFFFF;
 border-radius: 16px;
 margin-bottom: 56px;
 position: relative;
 padding: 16px 28px;
 box-sizing: border-box;
}

.iconArea {
 width: 68px;
 height: 68px;
 border-radius: 50px;
 background-color: #FFFFFF;
 position: absolute;
 top: -24px;
 left: 28px;
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.detail {
 position: relative;
}

.viewIcon {
 margin-top: 15px;
 font-size: 20px;
}

.questionArea {
 display: flex;
 height: 56px;
 align-items: center;
 border-bottom: 1px solid #DDDDDD;
 margin-bottom: 16px;
}

.question {
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 24px;
 letter-spacing: -0.01em;

 color: #FF8F24;
 margin-right: 4px;
}

.questionDetail {
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 24px;
 letter-spacing: -0.01em;

 color: #303030;
}

.answer {
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 20px;
 letter-spacing: -0.01em;

 color: #303030;
}

