.pathBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.pHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 22px 12px 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEEEE;
    font-weight: 700;
    font-size: 14px;
    color: #575757;
    gap: 10px;
}

.phLeft{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;
}

.pBody{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
}

.phRight{
    font-weight: 400;
    font-size: 14px;
    color: #FF7D00;
    cursor: pointer;
}

.pContents{
    display: flex;
    align-items: center;
    min-height: 35px;
    padding: 9px 28px;
    font-weight: 400;
    font-size: 14px;
    color: #575757;
    box-sizing: border-box;
    transition: all 0.1s linear;
    gap: 7px;
    cursor: pointer;
}

.pContents:hover{
    background: #FAFAFA;
}


.pEmptyBody > span{
    font-weight: 400;
    font-size: 14px;
    color: #575757;
}
