.content {
    height: 85px;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.content:nth-child(1) {
    border-top: 1px solid #DDDDDD;
}

.detail {
    display: flex;
    width: 100%;
}

.content:hover > .detail > div {
    color: #FF7D00;
}

.category {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
    margin-right: 21px;

    color: #303030;
}

.title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #303030;
}

.date {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #969696;
}

.checkBoxDefault {
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.checkBoxDefault:hover {
    border: 1px solid #FF7D00;
}

.checkBoxChecked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 24px;

    box-sizing: border-box;
    background: #FF7D00;
    border-radius: 4px;
    border: 1px solid #FF7D00;
    cursor: pointer;
}

.checkBoxChecked > div {
    background-image: url("/public/icon/checkBox_icon.png");
    background-size: cover;
    width: 11px;
    height: 8px;
}
