.noticeHeader {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.noticeHeaderText {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #303030;
}

.categoryArea {
    display: flex;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;

    color: #303030;
}

.categoryArea > div:not(:last-child) {
    padding-right: 16px;
    border-right: 1px solid #C2C2C2;
    cursor: pointer;
}

.categoryArea > div:not(:first-child) {
    padding-left: 16px;
    cursor: pointer;
}

.categoryTextActive {
    color: #FF7D00;
}

.categoryTextDisable {

}

.adminContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.checkBoxArea {
    display: flex;
}

.checkBoxDefault {
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.checkBoxDefault:hover {
    border: 1px solid #FF7D00;
}

.checkBoxChecked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 24px;

    box-sizing: border-box;
    background: #FF7D00;
    border-radius: 4px;
    border: 1px solid #FF7D00;
    cursor: pointer;
}

.checkBoxChecked > div {
    background-image: url("/public/icon/checkBox_icon.png");
    background-size: cover;
    width: 11px;
    height: 8px;
}

.checkBoxText {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.01em;

    color: #303030;
}

.adminFuncArea {
    display: flex;
    align-items: center;
}

.deleteElementBtn {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;

    color: #303030;
    margin-right: 28px;
    cursor: pointer;
}

.addNoticeBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 44px;
    background: #303030;
    border-radius: 30px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #F8F8F8;
    cursor: pointer;
}

.addNoticeIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
