.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.content > * {
    width: 300px;
}

.header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 54px;
}

.funArea {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.funArea > * {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #303030;
}

.funArea > div:nth-child(2) {
    margin: 0 8px;
}

.line {
    border: 1px solid #DDDDDD;
    margin: 32px 0;
}

.socialFunc {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #303030;
    margin-bottom: 24px;
}

.inputArea {
    margin-bottom: 44px;
}

.inputArea > div:nth-child(1){
    margin-bottom: 24px;
}
