.aaa {
    height: 64px;
    background-color: #595959;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 15px;
}

.bbb {
    position: absolute;
    right: 58px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.ccc {
    display: flex;
}

.ccc > div {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    width: 90px;
    text-align: center;
}

.ddd {
    width: 40px;
    height: 40px;
    margin: 0 27px;
}
