.hasBox{
    z-index: 3;
    position: absolute;
    top: 46px;
    left: -1px;
    min-width: 418px;
    height: 492px;
    background: #ffffff;
    border: 1px solid #FF7D00;
    box-sizing: border-box;
    padding: 18px 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.hasBox.endHasBox{
    top: 83px;
}

.noSearchHasBox, .noSearchHasBoxEnd{
    z-index: 3;
    position: absolute;
    top: 46px;
    left: -1px;
    display: flex;
    align-items: center;
    min-width: 418px;
    height: 70px;
    background: #FAFAFA;
    border: 1px solid #FF7D00;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
    padding: 18px 22px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 16px;
    color: #969696;
    gap: 15px;
}

div .noSearchHasBox > img,
div .noSearchHasBoxEnd > img{
    display: block;
}

.noSearchHasBoxEnd{
    top: 83px;
}

.eleBox{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
}

.eleBox:hover{
    background: #FAFAFA;
}

.left{
    display: flex;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bTop > span{
    font-weight: 400;
    font-size: 16px;
    color: #FF7D00;
}

.bTop > label{
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.bBottom{
    font-weight: 400;
    font-size: 14px;
    color: #969696;
}

.right{
    font-weight: 400;
    font-size: 14px;
    color: #DDDDDD;
}
